*{
    padding: 0;
    margin: 0;
    font-family: "Open Sans", arial, sans-serif;
    line-height: 1.5;
    color: #5D5D5D;
}

@media (min-width:500px) and (max-width:1920px){

}

#navbar{
    width: 300px;
    height: 100%;
    
    border-right: 1px solid black;
    position: fixed;
}

#navbar li{
    list-style: none;
   
    padding: 10px 0;
    margin-left: 30px;
    
    
}

#navbar header{
    padding: 18px 0;
    text-align: center;
    
}

#navbar .divider{
    width: 100%;
    height: 1px;
    background-color: black;
}

main{
    margin-left: 330px;
}

.title{
    font-size: 30px;
    padding: 20px 0;
    color:black;
}


main p{
    margin-left: 10px;
    padding-bottom: 15px;
}

main ul{
    margin-left: 55px;
}

main li{
    padding-bottom: 15px;
}

a{
    text-decoration: inherit;
    color:#5D5D5D;
    cursor: pointer;
}

main code{
    background-color: #E9E9E9;
    line-height: 2;
    display: block;
    font-family: monospace;
    padding: 10px;
    margin: 0 20px;
    margin-bottom: 15px;
    border-radius: 5px;
}

#reference a{
    text-decoration: underline;
    color:black;
}
